@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*normalize-normalizar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.caja{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 100px;
    margin-left: 200px;
    border: 5px solid blueviolet;
    /*border-left: 5px solid green;*/
    /*padding: 5px;*/
    /*padding-left: 20px;*/
    padding: 15px 32px 28px 40px;
    /*https://.cssmatic.com/es/box-shadow*/
    box-shadow: 20px 40px 3px 0px  black,
    inset 0px 0px 10px 5px white;
    border-radius: 50px;

}

span{
    display: inline-block;
    background-color: blue;
    margin-left: 20px;
    margin-top: 20;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: 5px solid greenyellow;
}

header{
    background-color: gold;
    padding: 32px;
}

.buscador-container{
    width: 344px;
    display: flex;
    align-items: center;
    position: relative;

}

.buscador-container button{
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
    color: bisque;
    border-left: 1px #6f6d6d solid;
    padding-left: 10px;
    height: 80%;

}

header input{
    width: 100%;
    padding: 10px 45px 10px 15px;
    background-color: white;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.204);
    border-radius: 2px;
    border: 1px solid transparent;
}

header .buscador::placeholder{
    color: #999999;
}

header input:focus-visible{
    outline: none;
    border: 1px solid blue;
}
header .buscador::placeholder{
    color: ;
}

a{
    color: black;
    background-color: #999999;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700px;
}

/* una transicion es un cambio de valores en un X tiempo*/

a:hover{
    background-color: aquamarine;
    font-size: 20px;
    transition:1s ease-in-out;
}








